.main-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.avatar-image {
    width: 200px;
    height: 200px;
}

.sideName {
    font-size: 35px;
    color: white;
}

.sideProfession {
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
}

.sideSocialMedia {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 100px;
    /* padding-top: 30px;    */
}

.fa-facebook, .fa-instagram, .fa-linkedin {
    color: white;
    font-size: 20px;
}

.sideEmail, .sidePhone {
    color: white;
    font-size: 15px;
}

.btn-custom {
    background-color: #EDD78E !important;
    color: black !important;
    font-weight: 600 !important;
}